## Dataframe Creation
Ways to create dataframe -
1. Creating  Dataframe from Lists
2. Creating Pandas DataFrame from lists of lists
3. Creating DataFrame from dict of narray/lists

### Usage

        pandas.DataFrame(data, index, columns)

---

#### 1. Creating Dataframe from Lists

In [1]:
# Import pandas library
import pandas as pd
  
# initialize list elements
data = ['John','Mary']
  
# Create DataFrame
df = pd.DataFrame(data, columns=['Name'])
  
# print dataframe.
df

   Name
0  John
1  Mary

#### 2. Creating Pandas DataFrame from lists of lists

In [2]:
# Import pandas library
import pandas as pd
  
# initialize list of lists
data = [['John', 10], ['Mary', 15]]
  
# Create DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
  
# print dataframe.
df

   Name  Age
0  John   10
1  Mary   15

#### 3. Creating DataFrame from dict of narray/lists

In [3]:
# Import pandas library
import pandas as pd
  
# initialize data of lists.
data = {
              'Name': ['John', 'Mary'],
              'Age': [20, 21]
            }
  
# Create DataFrame
df = pd.DataFrame(data)
  
# Print the output.
df

   Name  Age
0  John   20
1  Mary   21