## Insepect Data
Ways to inspect data -
1. Using head function
2. Using tail function
3. Using describe function
---

In [1]:
### Create Dataframe

# Import pandas library
import pandas as pd
  
# initialize data of lists.
data = {
    'Name': ['John', 'Mary', 'Peter', 'Mark','Allen'],
    'Age': [20, 21, 20,20, 19]
}
  
# Create DataFrame
df = pd.DataFrame(data)
  
# Print the output.
df

    Name  Age
0   John   20
1   Mary   21
2  Peter   20
3   Mark   20
4  Allen   19

#### 1. Using Head Function

In [2]:
## df.head() returns default first 5 rows 
df.head(2)

   Name  Age
0  John   20
1  Mary   21

#### 2. Using Tail Function

In [3]:
## df.tail() returns default last 5 rows 
df.tail(1)

    Name  Age
4  Allen   19

#### 3. Using describe function
It provides the counts, mean, std, min, max and percentile of the dataset.

In [4]:
df.describe()

             Age
count   5.000000
mean   20.000000
std     0.707107
min    19.000000
25%    20.000000
50%    20.000000
75%    20.000000
max    21.000000